/******************************************************/
body {
    padding-top: 10px;
    padding-bottom: 20px;
}
select {
    font-size: 12px;
    height: 32px;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
}
option:disabled {
    display:none;
}
div.container {
    width: 940px;
}
/******************************************************/
.masthead {
    margin-top: 10px;
}
#export-textarea {
  resize: none;
}
.not-functionnal {
    color: lightgray !important;
}
.fix-link {
    cursor: pointer;
    pointer-events: none;
}
/******************************************************/
.div-logo {
    display: inline-block;
    position: relative;
}
.logo-swlcalc {
    width: 175px;
}
.logo-slogan {
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    width: 200px;
}
.logo-dg {
    width: 34px;
    margin-bottom: 5px;
}
.logo-swl {
    width: 180px;
    position: absolute;
    bottom: 2px;
    left: 285px;
}
/******************************************************/
.illuminati {
    color: #435682;
}
.templar {
    color: #7E2D2F;
}
.dragon {
    color: #436329;
}
/******************************************************/
.lightgrey {
    color: #A7A7A7;
}
.mediumgrey {
    color: #717171;
}
.darkgrey {
    color: #3F3F3F;
}
/******************************************************/
.color-standard {
    color: #05B114;
}
.color-superior {
    color: #039BD9;
}
.color-epic {
    color: #AE58FF;
}
.color-mythic {
    color: #E2A002;
}
.color-legendary {
    color: #E62C38;
}
/******************************************************/
.color-dps {
    color: #E62C38;
}
.color-heal {
    color: #05B114;
}
.color-tank {
    color: #039BD9;
}
/******************************************************/
.border-standard {
    border-color: #05B114 !important;
}
.border-superior {
    border-color: #039BD9 !important;
}
.border-epic {
    border-color: #AE58FF !important;
}
.border-mythic {
    border-color: #E2A002 !important;
}
.border-legendary {
    border-color: #E62C38 !important;
}
/******************************************************/
.btn-group.setter {
    padding-right: 5px;
}
/******************************************************/
.table {
    margin-bottom: 10px;
}
.table td {
    min-width: 32px;
    min-height: 32px;
    font-size: 12px;
    /* padding: 0px; */
    vertical-align: middle;
}
.table-slots {
    border-top: 1px solid #ddd;
}
div[id$="-slot"] select {
    border-radius: 4px;
}
div[id$="-slot"] .table-slots td {
    border: none;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
div[id="summary"] .table-stats td {
    padding: 1px;
}
div[id="summary"] .table-stats th {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 0px;
}
#table-primary label {
   margin: 10px 0px 10px 0px;
}
#table-primary .tooltip.left{
    margin-left: -12px
}
.table-title {
    width: 100%;
}
.td-title {
    min-width: 300px;
}
tr.with-icon {
    height: 48px;
}
td.filler {
    width: auto;
}
.icon-retweet {

}
.swap-weapon {
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
}
/******************************************************/
/* rules relative to any kind of item (talisman, weapon, glyph or signet) */
div[id$="-slot"] .table-slots td.item-title {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 15px;
}
div[id$="-slot"] .table-slots td.item-description {
    text-align: justify;
    line-height: 18px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 5px;
}
/******************************************************/
div.label-level {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: white;
    background-image: linear-gradient(#050505, #3B3B3B);
    border: 2px solid;
    border-radius: 4px;
    line-height: 15px;
    text-align: center;
}
div.label-level.big {
    width: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
div.label-level.little {
    width: 18px;
    font-size: 10px;
}
/******************************************************/
div[id$="-slot"] .table-slots img.item-icon {
    position: absolute;
}
div[id$="-slot"] .table-slots img.item-icon.item {
    z-index: 0;
}
div[id$="-slot"] .table-slots img.item-icon.rarity {
    z-index: 1;
}
div[id$="-slot"] .table-slots img.item-icon.quality {
    z-index: 2;
}
/******************************************************/
/* slot > equipment (talisman/weapon) */
div[id$="-slot"] .table-slots td.equipment-img {
    width: 58px;
    vertical-align: top;
    position: relative;
}
div[id$="-slot"] .table-slots img.item-icon.equipment {
    width: 48px;
    height:48px;
    left: 5px;
    top: 5px;
}
div[id$="-slot"] .table-slots td.equipment-select {
    width: 150px;
}
div[id$="-slot"] .table-slots td.equipment-select select {
    max-width: 140px;
}
/******************************************************/
/* slot > glyph & signet */
div[id$="-slot"] .table-slots td.glyph-img,
div[id$="-slot"] .table-slots td.signet-img {
    width: 48px;
    position: relative;
}
div[id$="-slot"] .table-slots img.item-icon.glyph,
div[id$="-slot"] .table-slots img.item-icon.signet {
    width: 38px;
    height:38px;
    left: 5px;
    top: 10px;
}
div[id$="-slot"] .table-slots td.glyph-select,
div[id$="-slot"] .table-slots td.signet-select {
    width: 160px;
}
div[id$="-slot"] .table-slots td.glyph-select select,
div[id$="-slot"] .table-slots td.signet-select select {
    max-width: 150px;
}
/******************************************************/
/* slot > all > rarity+quality+level */
div[id$="-slot"] .table-slots td.upgrade-label {
    width: 65px;
}
div[id$="-slot"] .table-slots td.upgrade-select {
    width: 100px;
}
div[id$="-slot"] .table-slots td.upgrade-select select {
    width: 100%;
}
/******************************************************/
/* slot > all > rarity */
div[id$="-slot"] .table-slots td.rarity {
}
div[id$="-slot"] .table-slots td.rarity.swlcalclabel {
}
div[id$="-slot"] .table-slots td.rarity.swlcalclabel strong {
    padding-top: 8px;
    display: inline-block; /* see https://stackoverflow.com/questions/14604541/padding-top-not-working */
}
div[id$="-slot"] .table-slots td.rarity.swlcalcselect {
}
div[id$="-slot"] .table-slots td.rarity.select select {
}
/******************************************************/
/* slot > all > quality */
div[id$="-slot"] .table-slots td.quality-label {
}
div[id$="-slot"] .table-slots td.quality-label strong {
    padding-top: 8px;
    display: inline-block; /* see https://stackoverflow.com/questions/14604541/padding-top-not-working */
}
div[id$="-slot"] .table-slots td.quality-select {
}
table[id$="-signets"] td.quality-select {
    vertical-align: middle;
}
div[id$="-slot"] .table-slots td.quality-select select {
}
/******************************************************/
/* slot > all > level */
div[id$="-slot"] .table-slots td.level-label {
}
div[id$="-slot"] .table-slots td.level-select {
}
div[id$="-slot"] .table-slots td.level-select select {
}
div[id$="-slot"] .table-slots input.level-slider {
    width: 100px;
}
/******************************************************/
td.stat-name {
    width: 200px;
}
td.stat-value {
    font-weight: bold;
    color: green;
}
td.stat-inSlot {
    text-align: center;
}
td.stat-inSummary {
    text-align: right;
}
/******************************************************/
.bonus-val {
    font-weight: bold;
}
.bonus-val.attack {
    color: red;
}
.bonus-val.heal {
    color: green;
}
.bonus-val.const {
    color: #FF7D00;
}
/******************************************************/
div .slot {
    margin-bottom: 20px;
    background-color: #F5F5F5;
    padding:5px;
    border-radius: 8px;
}
.slot-name {
    font-weight: normal;
}
.slot h4 {
    padding: 0px;
    display: inline;
    font-weight: bold
}

div[id="summary"] h4 {
    font-weight: bold
}
/******************************************************/
td.slot-ilvl {
    font-size: 12px;
    padding: 0px;
    text-align: right;
    font-weight: bold;
    min-width: 100px;
}
td.ilvl {
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
    text-align: right;
    vertical-align: bottom;
    line-height: 12px;
}
.td-swap {
    padding-left: 100px;
}
/******************************************************/
.btn-button-bar {
    padding: 4px 6px;
}
.button-bar-dropdown {
    min-width: auto;
}
/******************************************************/
.anima-allocation-span {
    position: relative;
}
.anima-allocation-div {
    position: absolute;
    right: 15px;
    background-color: #F5F5F5;
    border-radius: 4px;
}
.anima-allocation-label {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-right: 5px; */
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.anima-allocation-select {
    font-size: 14px;
    width: auto;
    margin-bottom: 0px;
    background-color: #F5F5F5;
    border: 0px;
    padding: 0px;
}
