:root {
/*  --color-illuminati: #435682;
    --color-templar: #7E2D2F;
    --color-dragon: #436329;*/

    --color-lightgrey: #A7A7A7;
    --color-darkgrey: #3F3F3F;

    --color-standard: #05B114;
    --color-superior: #039BD9;
    --color-epic: #AE58FF;
    --color-mythic: #E2A002;
    --color-legendary: #E62C38;

    --color-dps: #E62C38;
    --color-heal: #05B114;
    --color-tank: #039BD9;

    --color-dps-darker: #c92631;
    --color-heal-darker: #049111;
    --color-tank-darker: #0285ba;

    --color-attribute: #E3A40E;
    --color-const: #E97F0E;
}
html[theme='classic'] {
    --color-mediumgrey: #717171;
    --color-highlightgrey: #ddd;

    --body-bg-img: unset;
    --body-bg-color: white;
    --container-bg-color: unset;

    --slot-text-color: #333;
    --slot-bg: #F2F2F2;
    --slot-border: 2px solid #0000;
    --slot-hr-color : var(--color-border);

    --color-border: #DDD;
    --img-filter: invert(0%);
    --swlcalc-logo: url("../images/logos/swlcalc.png");
    --bar-bg: #f8f8f8;
    --summary-category-bg: var(--slot-bg);
    --edit-border: none;
    --edit-bg: var(--slot-bg);
    --active-bg: #878787;
    --active-text-color: #FFF;
    --edit-select-bg: white;
    --aallocation-bg: white;
    --aallocation-text-color: unset;
    --not-functional: var(--color-lightgrey);

    --btn-transparent-idle: #777;
    --btn-transparent-active: #333;
}
html[theme='sw'] {
    --color-mediumgrey: #A1A1A1;
    --color-highlightgrey: #A1A1A1;

    --body-bg-img: url("../images/sw_bg.png");
    --body-bg-color: black;
    --container-bg-color: rgba(30, 30, 30, 0.9);

    --slot-text-color: #EEE;
    --slot-bg: linear-gradient(to bottom, rgba(30,30,30,0.75), rgba(55,55,55,0.75));
    --slot-border: 2px solid #EEE;
    --slot-hr-color : rgba(255, 255, 255, 0.1);

    --color-border: #939393;
    --img-filter: invert(100%);
    --swlcalc-logo: url("../images/logos/swlcalc_bright.png");
    --bar-bg: linear-gradient(to top, rgb(20, 20, 20), rgb(65, 65, 65));
    --summary-category-bg: none;
    --edit-border : var(--slot-border);
    --edit-bg : linear-gradient(to bottom, rgb(30, 30, 30), rgb(55, 55, 55));
    --active-bg: #FFF;
    --active-text-color: #333;
    --edit-select-bg: #333;
    --aallocation-bg: #111;
    --aallocation-text-color: var(--slot-text-color);
    --not-functional: var(--color-darkgrey);

    --btn-transparent-idle: #9d9d9d;
    --btn-transparent-active: #fff;
}
/******************************************************/
body {
    padding-top: 50px !important;
    padding-right: 0px !important;
    background-image: var(--body-bg-img);
    background-color: var(--body-bg-color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
nav {
    padding-right: 0px !important;
}
select {
    font-size: 12px;
    height: 32px;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: var(--slot-text-color);
    background-color: var(--edit-select-bg);
}
h4 {
    font-weight: bold
}
option:disabled {
    display:none;
}
div.container {
    width: 1220px;
}
.section {
    background-color: var(--container-bg-color);
    color: var(--slot-text-color);
}
.section.agents {
    margin-top: 25px;
}
.modal-open {
    overflow-y: scroll;
}
/******************************************************/
.masthead {
    margin-top: 10px;
}
.not-functional {
    color: var(--not-functional) !important;
}
.fix-link {
    cursor: pointer;
    pointer-events: none;
}
/******************************************************/
.navbar-icon-a {
    padding: 0 !important;
}
.navbar-icon-img {
    max-width: 32px;
    max-height: 32px;
}
.navbar-icon-img.github {
    width: 30px;
    filter: var(--img-filter);
}
.navbar-icon-img.swl {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}
.feedback {
    padding: 0px 12px;
}
.navbar-item {
    margin-right: 5px;
}
.btn-toolbar {
    margin-bottom: 8px;
}
.btn-group.toplvl {
    margin-top: 8px;
}
.navbar-logo {
    float: left;
    height: 32px;
}
.navbar-inverse {
    background: var(--bar-bg);
    border: none;
}
.logo-div {
    padding-top: 17px;
}
.logo-slogan {
    font-size: 12px;
    margin-left: 5px;
    line-height: 1.2;
    margin-right: 5px;
}
.logo-swl {
    width: 180px;
    filter: var(--img-filter);
}
.logo-dg {
    width: 32px;
    margin-bottom: 5px;
}
.logo-swlcalc {
    background-image: var(--swlcalc-logo);
    width: 176px;
    background-size: 100%;
}
.btn-group.right {
    float: right;
}
.btn-transparent {
    color: var(--btn-transparent-idle);
    background-color: transparent;
    border: none;
}
.btn-transparent.focus, .btn-transparent:focus {
    color: var(--btn-transparent-active);
}
.btn-transparent:hover {
    color: var(--btn-transparent-active);
}
.btn-transparent.active, .btn-transparent:active, .open > .dropdown-toggle.btn-transparent {
    color: var(--btn-transparent-active);
}
.btn-transparent.active.focus, .btn-transparent.active:focus, .btn-transparent.active:hover, .btn-transparent:active.focus, .btn-transparent:active:focus, .btn-transparent:active:hover, .open > .dropdown-toggle.btn-transparent.focus, .open > .dropdown-toggle.btn-transparent:focus, .open > .dropdown-toggle.btn-transparent:hover {
    color: var(--btn-transparent-active);
}
/******************************************************/
.lightgrey {
    color: var(--color-lightgrey);
}
.mediumgrey {
    color: var(--color-mediumgrey);
}
.darkgrey {
    color: var(--color-darkgrey);
}
/******************************************************/
.color-standard {
    color: var(--color-standard) !important;
}
.color-superior {
    color: var(--color-superior) !important;
}
.color-epic {
    color: var(--color-epic) !important;
}
.color-mythic {
    color: var(--color-mythic) !important;
}
.color-legendary {
    color: var(--color-legendary) !important;
}
/******************************************************/
.dps {
    color: var(--color-dps) !important;
}
.heal {
    color: var(--color-heal) !important;
}
.tank {
    color: var(--color-tank) !important;
}
/******************************************************/
.border-standard {
    border-color: var(--color-standard) !important;
}
.border-superior {
    border-color: var(--color-superior) !important;
}
.border-epic {
    border-color: var(--color-epic) !important;
}
.border-mythic {
    border-color: var(--color-mythic) !important;
}
.border-legendary {
    border-color: var(--color-legendary) !important;
}
/******************************************************/
.btn-group.setter {
    padding-right: 5px;
}
/******************************************************/
.table {
    margin-bottom: 10px;
}
.table td {
    min-width: 32px;
    min-height: 32px;
    font-size: 12px;
    /* padding: 0px; */
    vertical-align: middle;
}
.table-slots {
    border-top: 1px solid var(--color-border);
}
div[id$="-edit-div"] select {
    border-radius: 4px;
}
div[id$="-edit-div"] .table-slots td {
    border: none;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
div[id="summary"] .table-stats td {
    padding: 1px;
    border-top: none;
}
div[id="summary"] .table-stats tr.separator {
    border-bottom: 1px solid var(--color-border);
}
div[id="summary"] .table-stats th {
    padding-top: 3px;
    padding-bottom: 0;
    padding-left: 0;
    background: var(--summary-category-bg);
    font-size: 13px;
    border-bottom: 2px solid var(--color-border);
}
div[id="summary"] > h4 {
    position: relative;
}
div[id="summary"] > h4 > button {
    position: absolute;
    right: 0px;
}
div[id="summary"] > h4 > button > img {
    width: 20px;
}

.table-title {
    width: 100%;
}
.td-title {
    min-width: 300px;
}
tr.with-icon {
    height: 48px;
}
td.filler {
    width: auto;
}
.icon-retweet {

}
.swap-weapon {
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
}
/******************************************************/
/* rules relative to any kind of item (talisman, weapon, glyph or signet) */
div[id$="-edit-div"] .table-slots td.item-title {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 15px;
}
div[id$="-edit-div"] .table-slots td.item-description {
    text-align: justify;
    line-height: 18px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 5px;
}
/******************************************************/
div.label-level {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: white;
    background-image: linear-gradient(#050505, #3B3B3B);
    border: 2px solid;
    border-radius: 4px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
}
div.label-level.big {
    width: 24px;
    padding-top: 1px;
}
div.label-level.little {
    width: 20px;
    font-size: 10px;
}
/******************************************************/
/* slot > equipment (talisman/weapon) & glyph & signet */
td[id$="-img-section"] {
    position: relative;
    vertical-align: top;
}
td[id$="-equipment-img-section"] {
    width: 58px;
}
td[id$="-glyph-img-section"],
td[id$="-signet-img-section"] {
    width: 48px;
}
td[id$="-img-section"] img {
    position: absolute;
}
td[id$="-equipment-img-section"] img {
    width: 48px;
    height: 48px;
    left: 5px;
    top: 5px;
}
td[id$="-glyph-img-section"] img,
td[id$="-signet-img-section"] img {
    width: 38px;
    height:38px;
    left: 5px;
    top: 10px;
}
img[id$="-img-item"] {
    z-index: 0;
}
img[id$="-img-rarity"] {
    z-index: 1;
}
img[id$="-img-quality"] {
    z-index: 2;
}
div[id$="-edit-div"] .table-slots td.equipment-select {
    width: 150px;
}
div[id$="-edit-div"] .table-slots td.equipment-select select {
    max-width: 140px;
}
/******************************************************/
/* slot > glyph & signet */
div[id$="-edit-div"] .table-slots td.glyph-select,
div[id$="-edit-div"] .table-slots td.signet-select {
    width: 160px;
}
div[id$="-edit-div"] .table-slots td.glyph-select select,
div[id$="-edit-div"] .table-slots td.signet-select select {
    max-width: 150px;
}
/******************************************************/
/* slot > all > rarity/quality/level */
div[id$="-edit-div"] .table-slots td.upgrade-label {
    width: 65px;
}
div[id$="-edit-div"] .table-slots td.upgrade-select {
    width: 100px;
}
div[id$="-edit-div"] .table-slots td.upgrade-select select {
    width: 100%;
}
div[id$="-edit-div"] .table-slots td.rarity-label strong,
div[id$="-edit-div"] .table-slots td.quality-label strong {
    padding-top: 8px;
    display: inline-block; /* see https://stackoverflow.com/questions/14604541/padding-top-not-working */
}
div[id$="-edit-div"] .table-slots input.level-slider {
    width: 100px;
}
div[id$="-edit-div"] .table-slots td.signetalign {
    padding-top: 18px;
}
/******************************************************/
td.stat-name {
    width: 200px;
}
.stat-value {
    font-weight: bold;
}
.stat-value.gear {
    color: var(--color-attribute);
}
td.stat-inSlot {
    text-align: center;
}
td.stat-inSummary {
    text-align: right;
}
/******************************************************/
.bonus-val {
    font-weight: bold;
}
.bonus-val.const {
    color: var(--color-const);
}
/******************************************************/
.modal-dialog {
    margin: 10% auto;
    width: 35%;
    min-width: 700px;
}
.modal-body {
    background: var(--edit-bg);
    border-radius: 15px;
    border: var(--edit-border);
}
.modal-body.export {
    border-radius: 0px;
    border: none
}
.slot-name {
    font-weight: normal;
}
.slot h4 {
    padding: 0px;
    display: inline;
}
/******************************************************/
td.slot-ilvl {
    font-size: 12px;
    padding: 0px;
    text-align: right;
    font-weight: bold;
    min-width: 100px;
}
td.ilvl {
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
    text-align: right;
    vertical-align: bottom;
    line-height: 12px;
}
/******************************************************/
.btn-button-bar {
    padding: 4px 6px;
}
.button-bar-dropdown {
    min-width: auto;
}
/******************************************************/
/* slot > recap */

div[id$="-recap-div"] {
    width: 275px;
    min-height: 300px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;

    background: var(--slot-bg);
    border: var(--slot-border);
}
div[id$="-recap-div"] p, .agent-div > p {
    font-size: 11px;
    margin: 0;
}
div[id$="-recap-div"] h5 {
    font-weight: bold;
    margin: 0;
}
div[id$="-recap-div"] h6 {
    font-weight: bold;
    margin: 0;
}
div[id$="-recap-div"] hr, .agent-div > hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 2px solid var(--slot-hr-color);
}
/*----------------------------------------------------*/
td[id$="-recap-equipment-title-section"] {
    width: 160px;
    vertical-align: top;
}
/*----------------------------------------------------*/
td[id$="-editbtn-section"] {
    vertical-align: top;
}
button[id$="-editbtn"] {
    padding: 0px;
    margin-left: 10px;
    background-color: transparent;
    border: 0;
}
button[id$="-editbtn"] img {
    width: 25px;
    filter: var(--img-filter);
}
/*----------------------------------------------------*/
div[id$="-recap-div"] .empty-slot {
    margin-top: 8px;
}
.empty-slot input[type="checkbox"] {
    margin: 1px 0 0 0;
    cursor: default;
}
.empty-slot span {
    vertical-align: top;
}
td[id$="-recap-equipment-empty"] {
    width: 90%;
    height: 30px;
}
/*----------------------------------------------------*/
.weapon-active-p {
    width: 275px;
    font-size: 14px;
    text-align: center;
    color: var(--active-text-color);
    background-color: var(--active-bg);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}
.weapon-active-div {
    border-radius: 10px 10px 0px 0px !important;
}
div[id$="weapon-recap-div"],
div[id$="weapon2-recap-div"]{
    margin-bottom: 0px;
}
/*----------------------------------------------------*/
.stat-transformed {
    font-style: italic;
    margin-left: 18px;
}
td[id$="-recap-equipment-img-section"] {
    height: 60px;
}
.footer p {
    margin-top: 25px;
    margin-bottom: 0;
    background: var(--bar-bg);
    color: var(--color-mediumgrey);
    padding: 10px 25px;
    text-align: center;
}

/*---------------- rules for select2 ----------------*/
.select2-container {
    color: var(--slot-text-color);
}
.equipment-select > .select2-container {
    max-width: 140px;
}
.agent-table > tbody > tr > td > .select2-container {
    width: 100% !important;
}
.select2-dropdown {
    background-color: var(--edit-select-bg) !important;
    font-size: 12px !important;
    width: 300px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    background-color: var(--edit-select-bg) !important;
}
.select2-container .select2-selection--single {
    height: 32px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: unset !important;
    line-height: 32px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: var(--color-highlightgrey) !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: var(--edit-select-bg) !important;
}
.select2-search__field {
    background-color: var(--edit-select-bg) !important;
}
/*----------------------------------------------------------*/
.agent-div {
    background: var(--slot-bg);
    border: var(--slot-border);
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.agent-table > tbody > tr > td {
    border: none;
    padding: 5px;
}
.agent-table > tbody > tr > td.agent-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.agent-table > tbody > tr > td.agent-name-label {
    vertical-align: middle;
    width: 55px;
}
.agent-name-select {
    /* width: 150px;*/
}
.agent-table > tbody > tr > td.agent-level-label {
    vertical-align: middle;
}
.agent-table > tbody > tr > td > select {
    width: 100%;
    border-radius: 4px;
}
.agent-level-select {
    /* width: 150px; */
}
/*----------------------------------------------------------*/
div[id="row-anima-allocation"] {
    margin-bottom: 25px;
}
.anima-allocation-table > tbody > tr > td {
    border: none;
    padding: 0px;
    text-align: right;
    min-width: 35px;
}
.anima-allocation-val {
    padding-right: 5px;
}

/* div[id="row-summary"] {
    margin-bottom: 65px;
} */

.fixed {
    position: fixed;
}

div[id="sidebar"] {
    width: 200px;
    margin-left: 25px;
}

.thin-p {
    margin-bottom: 0px;
    line-height: 1.2;
}
