body {
    padding-top: 10px;
    padding-bottom: 20px;
}

select {
    font-size: 12px;
    height: 32px;
}

.logo {
    font-size: 50px;
}
.slogan {
    font-size: 12px;
}


.illuminati {
    color: #435682;
}
.templar {
    color: #7e2d2f;
}
.dragon {
    color: #436329;
}


.lightgrey {
    color: #717171;
    font-weight: normal;
}
.darkgrey {
    color: #3f3f3f;
}


.color-standard {
    color: #05B114;
}
.color-superior {
    color: #039BD9;
}
.color-epic {
    color: #AE58FF;
}
.color-mythic {
    color: #E2A002;
}
.color-legendary {
    color: #E62C38;
}


.table {
    margin-bottom: 10px;
}
.table td {
    min-width: 32px;
    min-height: 32px;
    font-size: 12px;
    padding: 0px;
    vertical-align: middle;
}
.table-slots {
    border-top: 1px solid #ddd;
}
.table-slots td {
    border: none;
}
.table-stats td {
    font-size: 12px;
    padding: 0px;
}
.table-stats th {
    padding: 5px 5px 5px 0px;
}
#table-primary label {
   margin: 10px 0px 10px 0px;
}
#table-primary .tooltip.left{
    margin-left: -12px
}
.table-title {
    width: 100%;
}

/* slot > item */
td.item-title {
    font-size: 15px;
    color: #A7A7A7;
    font-style: italic;
    font-weight: bold;
    vertical-align: bottom;
    padding-bottom: 8px;
    padding-left: 15px;
}
td.item-img {
    width: 34px;
}
img.item-icon {
    background-image:url('../images/icons/item_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height:32px;
    z-index: 0;
}
img.item-icon-border {
    width: 32px;
    height:32px;
    position: absolute;
    z-index: 1;
}
td.item-select {
    width: 150px;
}
td.item-select select {
    margin-bottom: 0px;
    max-width: 140px;
}


/* slot > rarity */
td.rarity-label {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    vertical-align: bottom;
}
td.rarity-select {
    padding-top: 10px;
    vertical-align: bottom;
}
td.rarity-select select {
    width: 100px;
    margin-bottom: 0px;
}


/* slot > quality */
td.quality-label {
    width: 50px;
}
td.quality-select {
    width: 170px;
}
td.quality-select select {
    width: 100px;
    margin-bottom: 0px;
}


/* slot > level */
td.level-label {
    width: 50px;
}
td.level-select {
    /* width: 170px; */
}
td.level-select select {
    width: 100px;
    margin-bottom: 0px;
}


td.filler {
    width: auto;
}

td.item-description {
    padding-top: 10px;
    padding-left: 10px;
}

td.stat-value {
    font-weight: bold;
    color: green;
    min-width: 50px;
}

img.consumable {
    background-image:url('../images/icons/consumable_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height:32px;
    z-index: 0;
}

.statname {
    width: 200px;
}

.qlbuttons {
    margin-left: 5px;
    padding: 2px;
}

div .slot {
    margin-bottom: 15px;
    background-color: #f5f5f5;
    padding:5px;
    border-radius: 8px;
}

.slot-name {
    font-weight: normal;
}

.slot h4 {
    padding: 0px;
    display: inline;
}

#export-textarea {
  resize: none;
}

option:disabled {
    display:none;
}

td.slot-item-power {
    color: #A7A7A7;
    font-size: 12px;
    padding: 0px;
    text-align: right;
    font-weight: bold;
}

td.item-power {
    color: #A7A7A7;
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
    text-align: right;
    vertical-align: bottom;
}

.not-functionnal {
    color: lightgray !important;
}
